.front-links{
    font-size:0;
    display: block;
    backface-visibility: hidden;
    margin: -5px;
    padding-top:10px;
    overflow: auto;
    
    >div{
        position:relative;
        display: inline-block;
        height:0;
        backface-visibility: hidden;
        border:5px solid white;
        background-size:cover;
        vertical-align: top;
        width:100%;
        padding-top:50%;
        
        @media only screen and(min-width:640px){
            width:33.3333333%;
            
            padding-top:28%;
        }
        
        &:before{
            content:'';
            opacity:.2;
            transition:opacity .2s;
            position:absolute;
            z-index:0;
            top:0;
            left:0;
            right:0;
            bottom:0;
            animation:colortrans linear infinite 50s;
            backface-visibility: hidden;
        }
        
        &:hover:before{
            opacity:0;
        }
        
        >a{
            position:absolute;
            display: block;
            border-width: 10px;
            border-style:solid;
            top:0;
            left:0;
            right:0;
            bottom:0;
            backface-visibility: hidden;
        }
        
        >a span{
            font-weight:bold;
            font-size:18px;
            text-transform: uppercase;
            position: absolute;
            color:white;
            bottom:30px;
            padding:18px;
            backface-visibility: hidden;
        }
        
        ul{
            position:relative;
            backface-visibility: hidden;
        }
        
        ul li{
            font-size:14px;
            line-height:30px;
            color:white;
            padding-left:30px;
            background:url(../libs/img/tine-logo.svg) 0px center no-repeat;
            background-size:18px;
            backface-visibility: hidden;
        }
    }
}