$text-margin:.7em;

article{

    line-height:1.6;

    h1{
        font-size:300%;
        margin-bottom:$text-margin;
        line-height:1.2;
    }

    h2{
        font-size: 250%;
        margin-bottom:$text-margin;
        line-height:1.2;
    }

    h3{
        font-size: 200%;
        margin-bottom:$text-margin;
        line-height:1.2;
    }

    h4{
        font-size: 175%;
        margin-bottom:$text-margin;
        line-height:1.2;
    }

    h5{
        font-size: 150%;
        margin-bottom:$text-margin;
        line-height:1.2;
    }

    p{
        margin-bottom: $text-margin;
    }

    ul{
        padding-left:20px;
        list-style: disc;
        margin-bottom: $text-margin;
    }

    ol{
        padding-left: 20px;
        list-style: decimal;
        margin-bottom: $text-margin;
    }

    ul li, ol li{
        margin-bottom:$text-margin;
    }

    strong{
        font-weight:bold;
    }

    em{
        font-style: italic;
    }
}
