///**///***///**///
//* Base Styles *//
///**///***///**///
html,body{

    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    @media only screen and(min-width:480px){font-size: 13px;}
    @media only screen and(min-width:640px){font-size: 14px;}
    @media only screen and(min-width:768px){font-size: 16px;}

    box-sizing:border-box;
    text-rendering: optimizeLegibility;
    backface-visibility: hidden;
    -webkit-text-size-adjust: 100%;
    width:100%;
    overflow-x: hidden;
    z-index:1;
}
body *{
    box-sizing:inherit;
    backface-visibility: inherit;
}

body{
    transition:margin-left $main-menu-transition;
}
body.menu-out{
   
    @media only screen and(max-width:960px){
        margin-left:-$main-menu-width;
    
    }  
}

img{
    width:100%;
    max-width:100%;
}

header,section,footer{
    display: block;
    clear: both;
    overflow: auto;
}

p{
    line-height:1.6;
    margin-bottom:10px;
}

strong{
    font-weight:bold;
}

.page-wrap{
    position: relative;
}

