/* Bredde og transition, hovedmenu */

$main-menu-width: 220px;
$main-menu-transition:400ms;


/* farver */

$contrast-color-1:#9e6079;
$contrast-color-2:#441b2b;
$contrast-color-3:#aca9b2;
$contrast-color-4:#586276;
