/* Bredde og transition, hovedmenu */

$main-menu-width: 220px;
$main-menu-transition:200ms;


/* farver */

$contrast-color-1:#4f625b;
$contrast-color-2:#72837d;
$contrast-color-3:#3a4440;
$contrast-color-4:#dda44a;
$contrast-color-course:#a58757;
